.componente-input{
    position: relative;
    color: #fff;
}

.componente-input:first-child{
    margin-bottom: 2rem;
}

.componente-input input{
    background-color: var(--clr-dark);
    border-radius: 7px;
    border: .5px solid var(--clr-rojo);
    padding: .5rem;
    color: #fff;
    caret-color: var(--clr-rojo);
    width: 20rem;
}
.componente-input input:not(:placeholder-shown)+.fake-placeholder,
.componente-input input:focus+.fake-placeholder{
    color: #fff;
    background-color: var(--clr-dark);
    padding: 0 .4rem;
    font-size: 1.1rem;
    translate: 0 -1.5rem;
}


.componente-input .fake-placeholder{
    cursor: text;
    color: rgb(99, 99, 99);
    position: absolute;
    z-index: 12343;
    left: .66rem;
    top: .5rem;
    transition: all ease .2s;
}

.componente-input .mensaje-error{
    margin-bottom: 0;
    margin-top: .2rem;
    color: var(--clr-rojo);
}