.image-wrapper{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    height: 500px;
    max-width: 486px;
}

.main-image{
    width: 300px;
    height: 100%;
}

.secondary-image{
    width: 48px;
    height: 48px;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.2rem;
    border: 1px #1a1a1a solid;
    border-radius: 4px;
}

.description-wrapper{
    max-width: 486px;
    padding: 0.5rem;
    margin: 1.5rem;
}

.component-wrapper{
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-wrapper{
    width: 230px;
}

.button-buy{
    background-color: #EF3636;
    color: white;
    font-size: 18px;
    border: #EF3636 solid 1px;
    border-radius: 4px;
    width: 100%;
    height: 35px;
}

.button-buy:hover{
    background-color: #d32727;
    border: #d32727 solid 1px;
}

.shop-cart{
    background-color: transparent;
    color: #EF3636;
    font-size: 18px;
    border: #EF3636 solid 1px;
    border-radius: 4px;
    width: 100%;
    height: 35px;
}

.shop-cart:hover{
    background-color: transparent;
    font-weight: bold;
    border: #d32727 solid 1px;
}

.secondary-image:hover{
    border: 2px red solid;
    border-radius: 4px;
    padding: 0.2rem;
}