.navbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: #1A1A1A;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.button-colapse{
background-color: red;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  width: 100%;
}

.navbar-logo {
  color: white;
  margin-left: 1rem;
  width: 110px;
}

.nav-class{
  margin: auto;
}

.search-input {
  width: 343px;
  height: 42px;
  border-radius: 7px 0 0 7px;
  border: solid 1px #ef3636;
  padding-left: 8px;
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus-visible {
  outline: solid 1px #ef3636;
}

.search-icon {
  color: white;
  width: 32px;
}

.search-button {
  height: 42px;
  border-radius: 0 7px 7px 0;
  border: solid 1px #ef3636;
  background-color: #ef3636;
}

.buttons-container{
  display: flex;
  margin-left: 8rem;
}

.filter-icon {
  color: white;
  font-size: 24px;
}

.user-text{
  color: white;
  margin: 0.2rem 0 0 2rem;
}

.dropdown-icon{
    background-color: transparent;
    border: none;
}

.dropdown-icon:hover{
    background-color: transparent !important;
}

.dropdown-icon::after {
  content: none;
}

.dropdown-icon-user{
  background-color: transparent;
    border: none;
}

.dropdown-icon-user:hover{
  background-color: transparent !important;
}

.dropdown-icon-user::after {
content: none;
}

.category-link li a {
  text-decoration: none;
  color: black;
}

.category-link li a:hover {
  color: black;
}

.category-link:hover {
  background-color: #ef3636;
  border: 1px solid black;
  border-radius: 4px;
}

.category-link {
  max-width: 220px;
  padding: 0 0.8rem;
  margin: 0 0 0.5rem 0;
}

.logout-button{
  border: none;
  background-color: transparent;
}

.login-link{
  text-decoration: none;
  color: white;
}

.login-link:hover{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 990px) {
  .nav-class {
    margin-top: 1rem;
  }
  .filter-icon{
    margin-top: 1rem
  }
  .user-text{
    margin: 1.2rem 0 0 2rem;
  }
  .buttons-container{
    margin: auto;
  }
  .dropdown-icon{
    margin-left: 0rem;
  }
} ;