@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,500&display=swap');

:root {
  --clr-rojo: #ef3636;
  --clr-rojo-hover: #c93131;
  --clr-dark: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.backgroud-general {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    173deg,
    rgba(255, 255, 255, 1) 7%,
    rgba(26, 26, 26, 1) 7.15%,
    rgba(26, 26, 26, 1) 93%,
    rgba(255, 255, 255, 1) 93.15%
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
